@model Doctors_WebForum.Models.UserReg

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label @*asp-for="UName"*@ class="control-label">Enter Your Name</label>
                <input asp-for="UName" class="form-control" />
                <span asp-validation-for="UName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="UEmail"*@ class="control-label">Enter Email</label>
                <input asp-for="UEmail" class="form-control" />
                <span asp-validation-for="UEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="UPassword"*@ class="control-label">Enter Password</label>
                <input asp-for="UPassword" class="form-control" />
                <span asp-validation-for="UPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="UContact"*@ class="control-label">Enter Contact</label>
                <input asp-for="UContact" class="form-control" />
                <span asp-validation-for="UContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="UAddress"*@ class="control-label">Enter Address</label>
                <input asp-for="UAddress" class="form-control" />
                <span asp-validation-for="UAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
