@model Doctors_WebForum.Models.DoctorReg

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label @*asp-for="DName"*@ class="control-label">Enter Your Name</label>
                <input asp-for="DName" class="form-control" />
                <span asp-validation-for="DName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="DEmail"*@ class="control-label">Enter Your Email</label>
                <input asp-for="DEmail" class="form-control" />
                <span asp-validation-for="DEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="DPassword"*@ class="control-label">Enter Your Password</label>
                <input asp-for="DPassword" class="form-control" />
                <span asp-validation-for="DPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="DContact"*@ class="control-label">Enter Your Contact No</label>
                <input asp-for="DContact" class="form-control" />
                <span asp-validation-for="DContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="DAddress"*@ class="control-label">Enter Your Address</label>
                <input asp-for="DAddress" class="form-control" />
                <span asp-validation-for="DAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="DPrivacy"*@ class="control-label">Select Privacy</label>
                <select asp-for="DPrivacy" class ="form-control" asp-items="ViewBag.DPrivacy"></select>
            </div>
            <div class="form-group">
                <label @*asp-for="DQualification"*@ class="control-label">Select Qualification</label>
                <select asp-for="DQualification" class ="form-control" asp-items="ViewBag.DQualification"></select>
            </div>
            <div class="form-group">
                <label @*asp-for="DSpecialization"*@ class="control-label">Select Specialization</label>
                <select asp-for="DSpecialization" class ="form-control" asp-items="ViewBag.DSpecialization"></select>
            </div>
            <div class="form-group">
                <label @*asp-for="DExperience"*@ class="control-label">Select Experinece</label>
                <select asp-for="DExperience" class ="form-control" asp-items="ViewBag.DExperience"></select>
            </div>
            <div class="form-group">
                <label @*asp-for="DAchivement"*@ class="control-label">Enter Your Achivement</label>
                <input asp-for="DAchivement" class="form-control" />
                <span asp-validation-for="DAchivement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="DDesc"*@ class="control-label">Enter Description</label>
                <textarea asp-for="DDesc" class="form-control"></textarea>
                <span asp-validation-for="DDesc" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
